<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="places">
        <ion-label>Places</ion-label>
        <ion-icon name="triangle"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-label>Offers</ion-label>
      <ion-icon name="card"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">places</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
